@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: lato, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.sliding__nav {
  position: absolute;
  z-index: 111;
  width: 260px;
  left: -260px;
  height: 100%;
  background-color: #27292F;
  transition: 0.3s all ease;
}
/*javascript - slide module */
.slide {
    left: 0px;
}

.menu {
text-decoration: none;
}

.menu__item {
font-size: 1.4rem;
color: #eee;
border-bottom: 1px solid #333;
padding: 1.2rem;
text-transform: uppercase;
transition: 0.3s all ease;
}

.menu__item:hover {
    background-color: black;
    cursor: pointer;
}

.hamburger {
position: absolute;
top: 10px;
right: -50px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger span {
    display: block;
    background: #222;
    margin: 6px 0;
    height: 6px;
    width: 36px;
    position: relative;

}
/* javascript - moving hamburger module */
.change.hamburger__top-bar {
  top: 11px;
  transform: rotate(45deg);
}

.change.hamburger__mid-bar {
  opacity: 0;
}

.change.hamburger__lower-bar {
  bottom: 13px;
  transform: rotate(-45deg);
}

.content {
    padding: 2rem;
    transition: 0.3s all ease;
}

/*javascript module- shifing main content*/

.shift {
    margin-left: 260px;
}



.content__heading {
text-align: center;
padding: 2rem;

}

.content__paragraph {
padding: 2rem;
letter-spacing: 1px;
text-align: center;

}

.content__image {
padding: 1rem;
max-width: 100%;
height: auto;
}

